SQLALCHEMY_DATABASE_URI= driver://username:password@host/db_name
MAIL_SERVER= 
MAIL_PORT=
MAIL_DEFAULT_SENDER=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_USE_TLS=

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_BACKEND_URL=redis://localhost:6379/0

API_BASE_URL = "http://localhost:5000"

DB_NAME=
DB_USER=
DB_PASS=

TIMEZONE=Asia/Singapore